.bootstrap .sidekick-unit {
  float: left;
  padding: 1.2em;
  margin-top: 0.2em;
  color: #404040;
  background-color: #e7e7fe;
  border-radius: 6px;
  line-height: 1.8em;
  font-size: 13px;
}
.bootstrap .sidekick-unit h1 {
  font-size: 16.25px;
  font-weight: 300;
  font-family: inherit;
  color: #4a1f41;
  margin-top: 5px !important;
}
.bootstrap .sidekick-unit li {
  line-height: 1.8em;
}
